<section>
  <div class="page-header">
    <h1>{{vm.category._id ? 'Edit Category' : 'New Category'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.categoryForm" class="form-horizontal" ng-submit="vm.save(vm.form.categoryForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.category.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.categoryForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Category name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="quatityPerUnit">Stock</label>
          <input name="quatityPerUnit" type="text" ng-model="vm.category.quatityPerUnit" id="name" class="form-control" placeholder="Stock" required>
          <div ng-messages="vm.form.categoryForm.quatityPerUnit.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Stock</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="Price">Price</label>
          <input name="Price" type="text" ng-model="vm.category.Price" id="name" class="form-control" placeholder="Price" required>
          <div ng-messages="vm.form.categoryForm.Price.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Price</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="form-control" for="Description">Description</label>
          <textarea name="Description" data-ng-model="Description" id="Description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
          <div ng-messages="vm.form.categoryForm.Description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Description</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.category._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
